@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}


body{
    background: #E3F2FD;
}

/* --------- start navbar --------------- */
.nav{
  background-color: #e3f2fd;
}

.nav,.nav-con{
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.left ul {
    display: flex;
    flex-wrap: wrap;
}

.left ul li {
    margin: 10px;
    font-family:  'Poppins', sans-serif;
    transition: 200ms ease-in;
}

.left ul li:hover,.col:hover{
    color: rgb(0, 183, 255);
}

/* --------- end navbar --------------- */


.container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .color{
    list-style: none;
    margin: 13px;
    padding: 7px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
    transition: transform 0.3s ease;
}
.container .color:active{
    transform: scale(0.95);
}
.color:hover .react-box{
    filter: brightness(106%);
}
.color .react-box{
    width: 185px;
    height: 188px;
    border-radius: 6px;
    background: #8A6CFF;
}
.color .hex-value{
    display: block;
    color: #444;
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
}


/* -------- refresh-btn ---------- */
.refresh-btn{
    position: fixed;
    left: 50%;
    /* right: 20px; */
    bottom: 40px;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 20px;
    background-color: #8A6CFF;
    border: 2px solid #fff ;
    box-shadow: 0 15px 25px rgba(52, 87, 220, 0.2);
    transform: translateX(-50%);
}



  
@media screen and (max-width:510px){
    .container{
        margin: 10px;
    }
    .container .color{
        margin: 8px;
    }
    .color .react-box{
        width: 145px;
        height: 180px;
    }
    .color .hex-value{
        font-size: 1.05rem;
    }
    .refresh-btn{
        font-size: 0.8rem;
    }

}