@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/image/clear-air-fly-fantastic-travel_1232-3824.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    padding:3%  7% ;
}
logo{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    row-gap: 1;
}
.logo0{
    width: 27vw;
    height: 5vh;
}
.logo1{
    width: 27vw;
    height: 15vh;
}



@media (max-width:542px) {
    .logo0{
        width: 80vw;
        height: 8vh;
    }
    .logo1{
        width: 80vw;
        height: 15vh;
    }
}










@font-face{
    font-family: 'Digital-7';
    src:  url('fonts/digital-7.ttf') format('woff2'),   b ,g,mdrx
    url('digital-7.woff') format('woff');
}
.clockdate-wrapper {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
  
}
#clock{
    font-family: Digital-7, 'sans-serif';
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color: rgba(255, 255, 255, 0.8);
    text-shadow:0px 0px 1px #333;
    font-size:50px;
    position:relative;
    top:-5px;
    left:10px;
}
#date {
    letter-spacing:3px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}